@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i");
@import url('https://fonts.googleapis.com/css?family=Monoton');

body {
    font-family: "Josefin Sans", sans-serif;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
.d-table {
	width: 100%;
	height: 100%;
}
.d-table-cell {
	vertical-align: middle;
}
a {
    display: block;
    outline: 0 !important;
    text-decoration: none;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}
/*preloader-area*/
.preloader-area {
	position: fixed;
	left: 0;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 999999;
	background: #ffffff;
}
.preloader-area #cooking {
	position: absolute;
	top: 50%;
	width: 230px;
	height: 230px;
	left: 50%;
	margin-top: -175px;
	margin-left: -175px;
}
.preloader-area #cooking .bubble {
	position: absolute;
	border-radius: 100%;
	-webkit-box-shadow: 0 0 0.25vh #f10909;
	box-shadow: 0 0 0.25vh #f10909;
	opacity: 0;
}
.preloader-area #cooking .bubble:nth-child(1) {
	margin-top: 2.5vh;
	left: 58%;
	width: 2.5vh;
	height: 2.5vh;
	background-color: #f10909;
	-webkit-animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
	animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}
.preloader-area #cooking .bubble:nth-child(2) {
	margin-top: 3vh;
	left: 52%;
	width: 2vh;
	height: 2vh;
	background-color: #f10909;
	-webkit-animation: bubble 2s ease-in-out .35s infinite;
	animation: bubble 2s ease-in-out .35s infinite;
}
.preloader-area #cooking .bubble:nth-child(3) {
	margin-top: 1.8vh;
	left: 50%;
	width: 1.5vh;
	height: 1.5vh;
	background-color: #f10909;
	-webkit-animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
	animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}
.preloader-area #cooking .bubble:nth-child(4) {
	margin-top: 2.7vh;
	left: 56%;
	width: 1.2vh;
	height: 1.2vh;
	background-color: #f10909;
	-webkit-animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
	animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
}
.preloader-area #cooking .bubble:nth-child(5) {
	margin-top: 2.7vh;
	left: 63%;
	width: 1.1vh;
	height: 1.1vh;
	background-color: #f10909;
	-webkit-animation: bubble 1.6s ease-in-out 1s infinite;
	animation: bubble 1.6s ease-in-out 1s infinite;
}
.preloader-area #cooking #area {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 50%;
	background-color: transparent;
	-webkit-transform-origin: 15% 60%;
	transform-origin: 15% 60%;
	-webkit-animation: flip 2.1s ease-in-out infinite;
	animation: flip 2.1s ease-in-out infinite;
}
.preloader-area #cooking #area #sides {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-origin: 15% 60%;
	transform-origin: 15% 60%;
	-webkit-animation: switchSide 2.1s ease-in-out infinite;
	animation: switchSide 2.1s ease-in-out infinite;
}
.preloader-area #cooking #area #sides #handle {
	position: absolute;
	bottom: 18%;
	right: 80%;
	width: 35%;
	height: 20%;
	background-color: transparent;
	border-top: 1vh solid #333333;
	border-left: 1vh solid transparent;
	border-radius: 100%;
	-webkit-transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
	transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}
.preloader-area #cooking #area #sides #pan {
	position: absolute;
	bottom: 20%;
	right: 30%;
	width: 50%;
	height: 8%;
	background-color: #333333;
	border-radius: 0 0 1.4em 1.4em;
	-webkit-transform-origin: -15% 0;
	transform-origin: -15% 0;
}
.preloader-area #cooking #area #pancake {
	position: absolute;
	top: 24%;
	width: 100%;
	height: 100%;
	-webkit-transform: rotateX(85deg);
	transform: rotateX(85deg);
	-webkit-animation: jump 2.1s ease-in-out infinite;
	animation: jump 2.1s ease-in-out infinite;
}
.preloader-area #cooking #area #pancake #pastry {
	position: absolute;
	bottom: 26%;
	right: 37%;
	width: 40%;
	height: 45%;
	background-color: #f10909;
	-webkit-box-shadow: 0 0 3px 0 #f10909;
	box-shadow: 0 0 3px 0 #f10909;
	border-radius: 100%;
	-webkit-transform-origin: -20% 0;
	transform-origin: -20% 0;
	-webkit-animation: fly 2.1s ease-in-out infinite;
	animation: fly 2.1s ease-in-out infinite;
}
@-webkit-keyframes jump {
	0% {
	top: 24%;
		-webkit-transform: rotateX(85deg);
		transform: rotateX(85deg);
	}
	25% {
		top: 10%;
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
	}
	50% {
		top: 30%;
		-webkit-transform: rotateX(85deg);
		transform: rotateX(85deg);
	}
	75% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
	}
	100% {
		-webkit-transform: rotateX(85deg);
		transform: rotateX(85deg);
	}
}
@keyframes jump {
	0% {
	top: 24%;
		-webkit-transform: rotateX(85deg);
		transform: rotateX(85deg);
	}
	25% {
		top: 10%;
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
	}
	50% {
		top: 30%;
		-webkit-transform: rotateX(85deg);
		transform: rotateX(85deg);
	}
	75% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
	}
	100% {
		-webkit-transform: rotateX(85deg);
		transform: rotateX(85deg);
	}
}
@-webkit-keyframes flip {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	5% {
		-webkit-transform: rotate(-27deg);
		transform: rotate(-27deg);
	}
	30%,
	50% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	55% {
		-webkit-transform: rotate(27deg);
		transform: rotate(27deg);
	}
	83.3% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes flip {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	5% {
		-webkit-transform: rotate(-27deg);
		transform: rotate(-27deg);
	}
	30%,
	50% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	55% {
		-webkit-transform: rotate(27deg);
		transform: rotate(27deg);
	}
	83.3% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@-webkit-keyframes switchSide {
	0% {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	50% {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	100% {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
}
@keyframes switchSide {
	0% {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	50% {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	100% {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
}
@-webkit-keyframes fly {
	0% {
		bottom: 26%;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	10% {
		bottom: 40%;
	}
	50% {
		bottom: 26%;
		-webkit-transform: rotate(-190deg);
		transform: rotate(-190deg);
	}
	80% {
		bottom: 40%;
	}
	100% {
		bottom: 26%;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}
@keyframes fly {
	0% {
		bottom: 26%;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	10% {
		bottom: 40%;
	}
	50% {
		bottom: 26%;
		-webkit-transform: rotate(-190deg);
		transform: rotate(-190deg);
	}
	80% {
		bottom: 40%;
	}
	100% {
		bottom: 26%;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}
@-webkit-keyframes bubble {
	0% {
		-webkit-transform: scale(0.15, 0.15);
		transform: scale(0.15, 0.15);
		top: 80%;
		opacity: 0;
	}
	50% {
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0.33, 0.33);
		transform: scale(0.33, 0.33);
		top: 60%;
		opacity: 0;
	}
}
@keyframes bubble {
	0% {
		-webkit-transform: scale(0.15, 0.15);
		transform: scale(0.15, 0.15);
		top: 80%;
		opacity: 0;
	}
	50% {
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0.33, 0.33);
		transform: scale(0.33, 0.33);
		top: 60%;
		opacity: 0;
	}
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: .25;
	}
	50% {
		-webkit-transform: scale(1.2, 1);
		transform: scale(1.2, 1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: .25;
	}
}
@keyframes pulse {
	0% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: .25;
	}
	50% {
		-webkit-transform: scale(1.2, 1);
		transform: scale(1.2, 1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: .25;
	}
}

/*Main Banner*/
.main-banner {
	height: 700px;
	background: #ddd;
	position: relative;
	text-align: center;
	background-image: url(../img/bg.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: 1;
	overflow: hidden;
}
.main-banner::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
}
.logo {
	margin-bottom: 30px;
}
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.main-banner h1 {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	margin: 0;
}
.main-banner .bar {
	border: 2px solid #fff;
	width: 145px;
	margin: 40px auto;
	border-radius: 5px;
	margin-bottom: ;
}
.btn-box span {
	color: #fff;
	font-weight: 900;
	margin: 0 15px;
}
.btn {
	font-weight: 600;
	font-size: 15px;
	border-width: 2px;
	line-height: unset;
	padding: 12px 35px 8px;
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.btn-primary {
	color: #ffffff;
	background-color: #f10909;
	border-color: #f10909;
	position: relative;
	z-index: 1;
	-webkit-transition: .6s;
	transition: .6s;
}
.btn-primary::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50%;
	background: #f10909;
	z-index: -1;
	-webkit-transition: .4s;
	transition: .4s;
}
.btn-primary::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50%;
	background: #f10909;
	z-index: -1;
	-webkit-transition: .4s;
	transition: .4s;
}
.btn-primary.disabled, .btn-primary:disabled {
	color: #ffffff;
	background-color: #f10909;
	border-color: #f10909;
	opacity: 1;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
	color: #f10909;
	background-color: transparent;
	border-color: #f10909;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
	-webkit-box-shadow: unset;
	box-shadow: unset;
}
.btn-primary.focus, .btn-primary:focus {
	-webkit-box-shadow: unset;
	box-shadow: unset;
}
.btn-primary:hover, .btn-primary:focus {
	color: #f10909;
	background-color: transparent;
	border-color: #f10909;
}
.btn-primary:hover::before, .btn-primary:focus::before {
	height: 0;
}
.btn-primary:hover::after, .btn-primary:focus::after {
	height: 0;
}
.wave_box {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-image: url(../img/patt.png);
	height: 60px;
	background-repeat: repeat;
	background-position: center center;
	background-size: contain;
}

/*fun-facts-area*/
.fun-facts-area {
	background-image: url(../img/bg-pattern.png);
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	border-bottom: 1px solid #eeeeee;
}
.funfact {
	background: #f10909;
	padding: 35px 20px;
    border-radius: 5px;
}
.funfact h3 {
	color: #fff;
	font-size: 50px;
	font-weight: 700;
	margin: 0;
}
.funfact p {
	margin: 0;
	color: #fff;
	margin-top: 10px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
}

/*demo-area*/
.demo-area {
    padding-top: 80px;
    padding-bottom: 40px;
}
.section-title {
	text-align: center;
	margin-bottom: 80px;
	position: relative;
	z-index: 1;
	margin-top: -6px;
}
.section-title h2 {
	margin: 0;
	text-transform: capitalize;
	font-weight: 700;
	margin-top: 10px;
}
.section-title-bg {
	color: #f0f0f0;
	font-size: 70px;
	line-height: 0;
	position: absolute;
	bottom: 10px;
	left: 0;
	z-index: -1;
	opacity: 0.8;
	font-family: 'Monoton', cursive;
	text-transform: uppercase;
	width: 100%;
}
.single-demo {
    margin-bottom: 40px;
	-webkit-box-shadow: 7px 5px 30px rgba(72,73,121,0.15);
	text-align: center;
	box-shadow: 7px 5px 30px rgba(72,73,121,0.15);
	border-radius: 5px;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	transition: .4s;
}
.single-demo:hover {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}
.single-demo .img {
	position: relative;
}
.single-demo .img::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background: rgba(241, 9, 9, .9);
	border-radius: 5px 5px 0 0;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	transition: .4s;
}
.single-demo:hover .img::before {
    visibility: visible;
    opacity: 1;
}
.single-demo .img a {
	display: block;
}
.single-demo .img a img {
	border-radius: 5px 5px 0 0;
}
.single-demo .img .btn-preview {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	margin-top: 0px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .4s;
	transition: .4s;
}
.single-demo:hover .img .btn-preview {
	margin-top: -15px;
	opacity: 1;
	visibility: visible;
}
.single-demo .img .btn-preview a {
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 2px solid #ffffff;
	background: #ffffff;
	line-height: 70px;
	border-radius: 50%;
	font-size: 20px;
	font-weight: 900;
	color: #f10909;
	text-decoration: none;
}
.single-demo .img .btn-preview a:hover {
	border: 2px solid #ffffff;
	background: transparent;
	color: #ffffff;
}
.single-demo .title {
	text-align: center;
	padding: 0;
	background: #f4f6fd;
}
.single-demo .title h3 {
	margin: 0;
	font-size: 20px;
	font-weight: 700;
}
.single-demo .title h3 a {
	color: #000000;
	display: block;
	padding: 25px 20px;
}
.single-demo .title h3 a:hover, .single-demo .title h3 a:focus {
	color: #f10909;
    text-decoration: none;
}
/*features-area*/
.features-area {
	padding-bottom: 40px;
	padding-top: 80px;
	border-top: 1px solid #eeeeee;
}
.single-features {
	text-align: center;
	background: #f4f6fd;
	border-radius: 5px;
	margin-bottom: 40px;
	padding: 37px 15px 40px;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	transition: .4s;
}
.single-features:hover {
	background: #ffffff;
	-webkit-box-shadow: 7px 5px 30px rgba(72,73,121,0.15);
	box-shadow: 7px 5px 30px rgba(72,73,121,0.15);
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}
.single-features i {
	font-size: 45px;
	color: #f10909;
}
.single-features h3 {
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 700;
	margin-top: 20px;
	text-transform: capitalize;
}
/*Footer Area*/
.footer-area {
	text-align: center;
	background: #000000;
	padding: 30px 0;
}
.footer-area p {
	margin: 0;
	color: #fff;
	font-weight: 600;
}
.footer-area a {
	display: inline-block;
}

/*Go-Top*/
.go-top {
	position: fixed;
	cursor: pointer;
	bottom: 30px;
	right: 0;
	font-size: 25px;
	color: #fff;
	background-color: #000;
	z-index: 1;
	display: none;
	width: 45px;
	text-align: center;
	height: 45px;
	border-radius: 10px 0 0 10px;
	line-height: 46px;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	transition: .4s;
}
.go-top:hover {
	color: #fff;
    background: #f10909;
}

/* Resposive */
@media only screen and (max-width : 767px) {
	.main-banner {
		height: 500px;
	}
	.main-banner h1 {
		font-size: 26px;
		line-height: 40px;
	}
	.btn {
		padding: 9px 23px;
		font-size: 14px;
	}
	.btn-box span {
		margin: 0 7px;
		font-size: 14px;
	}
	.fun-facts-area {
		padding-top: 40px;
		padding-bottom: 10px;
	}
	.funfact {
		margin-bottom: 30px;
	}
	.demo-area {
		padding-top: 40px;
		padding-bottom: 0;
	}
	.features-area {
		padding-top: 40px;
	}
	.section-title-bg {
		font-size: 45px;
	}
}

@media only screen and (min-width : 768px) and (max-width : 991px) {
	.fun-facts-area {
		padding-bottom: 10px;
	}
	.funfact {
		margin-bottom: 40px;
	}
}